/Playground/nbproject/private/
/Array/nbproject/private/
/Array/build/
/TugasArray/nbproject/private/
/TugasArray/build/
/Tugas1/nbproject/private/
/Tugas2/nbproject/private/
/Tugas2/build/
/Tugas1/build/
/Praktikum/Praktikum1/nbproject/private/
/Praktikum/Praktikum1/build/
/Sorting/nbproject/private/
/Sorting/build/
/TugasSorting/nbproject/private/
/Praktikum/Praktikum2/nbproject/private/
/Praktikum/Praktikum2/build/
