/Playground/nbproject/private/
/Array/nbproject/private/
/Array/build/
/TugasArray/nbproject/private/
/TugasArray/build/
/Tugas1/nbproject/private/
/Tugas2/nbproject/private/
/Tugas2/build/
/Tugas1/build/
/Praktikum/Praktikum1/nbproject/private/
/Praktikum/Praktikum1/build/
/Sorting/nbproject/private/
/Sorting/build/
/TugasSorting/nbproject/private/
/Praktikum/Praktikum2/nbproject/private/
/Praktikum/Praktikum2/build/
/Praktikum/Praktikum3/nbproject/private/
/Praktikum/Praktikum3/build/
/Searching/nbproject/private/
/Searching/build/
/UTS/nbproject/private/
/Praktikum/Praktikum4/nbproject/private/
/Praktikum/Praktikum4/build/
/UTS/build/
/Praktikum/UTS/nbproject/private/
/Praktikum/UTP/nbproject/private/
/Praktikum/UTP/build/
/UTS/dist/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/Fibonacci/dist/
/Praktikum/Praktikum5/nbproject/private/
/Praktikum/Praktikum5/build/
/Kalkulator/nbproject/private/
/Kalkulator/build/
/Latihan/nbproject/private/
/Latihan/build/
/Latihan/dist/
/Praktikum/Praktikum7/nbproject/private/
/Praktikum/Praktikum7/build/
/Praktikum8/nbproject/private/
/Praktikum/Praktikum8/nbproject/private/
/Praktikum/Praktikum8/build/
/Praktikum/UAP/nbproject/private/
/Praktikum/UAP/build/
